---
import { db } from "@/database"
import { formatDate } from "@/utils"

const formData = await Astro.request.formData()

const name = formData.get("menu_name") as string
const description = formData.get("menu_description") as string

const inputMenu = { name, description }
//TODO: add validation

const menu = await db
	.insertInto("menu")
	.values(inputMenu)
	.returningAll()
	.executeTakeFirst()

if (!menu) {
	return new Response(
		JSON.stringify({
			message: "there was an error adding a new menu.",
		}),
		{ status: 500 }
	)
}

if (!Astro.request.headers.get("hx-request")) {
	return new Response(
		JSON.stringify({
			message: "added a new menu successfully.",
			data: inputMenu,
		})
	)
}
---

<li>
	<p>
		{menu.name} - {menu.description}
	</p>
	{menu.created_at && <p>{formatDate(new Date(menu.created_at))}</p>}

	<a href={`/admin/menu/${menu.id}`}>edit</a>

	<form action={`/api/menu/${menu.id}`} method="post">
		<button type="submit">Hapus</button>
	</form>
</li>
