---
import Layout from "@/layouts/Layout.astro"
import MenuEdit from "@/components/MenuEdit.vue"
import { db } from "@/database"

const { id } = Astro.params

const menuId = Number(id)
if (!id || isNaN(menuId)) {
	return Astro.rewrite("/404")
}

const menu = await db
	.selectFrom("menu")
	.selectAll()
	.where("id", "=", menuId)
	.executeTakeFirst()

if (!menu) {
	return Astro.rewrite("/404")
}
---

<Layout>
	<h1>Sunting "{menu.name}"</h1>

	<p id="message"></p>

	<MenuEdit menu={menu} client:load />
</Layout>
