---
import Layout from "@/layouts/Layout.astro"
import MenuEdit from "@/components/MenuEdit.vue"
import { db } from "@/database"
import { jsonArrayFrom } from "kysely/helpers/postgres"

const { id } = Astro.params

const menuId = Number(id)
if (!id || isNaN(menuId)) {
	return Astro.rewrite("/404")
}

const menu = await db
	.selectFrom("menu as m")
	.leftJoin("menu_categories as c", "c.id", "m.category_id")
	.select((eb) => [
		"m.id",
		"m.name",
		"m.image",
		"m.category_id",
		"m.created_at",
		"m.description",
		"c.name as category",
		jsonArrayFrom(
			eb
				.selectFrom("menu_options as mo")
				.whereRef("mo.menu_id", "=", "m.id")
				.select((eb) => [
					"mo.id",
					"mo.name",
					jsonArrayFrom(
						eb
							.selectFrom("menu_option_values as mov")
							.whereRef("mov.menu_option_id", "=", "mo.id")
							.selectAll()
					).as("option_values"),
				])
		).as("options"),
	])
	.where("m.id", "=", menuId)
	.executeTakeFirst()

if (!menu) {
	return Astro.rewrite("/404")
}

const variants = await db
	.selectFrom("menu_variants as mv")
	.select((eb) => [
		"mv.id",
		"mv.name",
		"mv.price",
		jsonArrayFrom(
			eb
				.selectFrom("menu_variant_options as mvo")
				.leftJoin("menu_option_values as mov", "mov.id", "mvo.option_value_id")
				.leftJoin("menu_options as mo", "mo.id", "mov.menu_option_id")
				.whereRef("mvo.variant_id", "=", "mv.id")
				.select([
					"option_value_id",
					"mov.name as option_value",
					"mo.name as option_name",
				])
		).as("options"),
	])
	.where("mv.menu_id", "=", Number(id))
	.execute()

const categories = await db.selectFrom("menu_categories").selectAll().execute()
---

<Layout>
	<header class="main-section">
		<h1>Sunting "{menu.name}"</h1>
	</header>

	<section class="col-start-2 col-end-[-2] md:col-start-4 md:col-end-12">
		<MenuEdit
			menu={menu}
			variants={variants}
			categories={categories}
			client:load
		/>
	</section>
</Layout>
