---
import Layout from "@/layouts/Layout.astro"
import MenuEdit from "@/components/MenuEdit.vue"
import { db } from "@/database"

const { id } = Astro.params

const menuId = Number(id)
if (!id || isNaN(menuId)) {
	return Astro.rewrite("/404")
}

const menu = await db
	.selectFrom("menu")
	.selectAll()
	.where("id", "=", menuId)
	.executeTakeFirst()

if (!menu) {
	return Astro.rewrite("/404")
}

const categories = await db.selectFrom("menu_categories").selectAll().execute()
---

<Layout>
	<header class="main-section">
		<h1>Sunting "{menu.name}"</h1>
	</header>

	<section class="col-span-full md:col-start-4 col-end-12">
		<MenuEdit menu={menu} categories={categories} client:load />
	</section>
</Layout>
