---
import AdminLayout from "@/layouts/AdminLayout.astro"
import MenuAdd from "@/components/MenuAdd.vue"
import CategoryServiceImpl from "@/lib/services/category"

const categoryService = new CategoryServiceImpl()
const categories = await categoryService.getCategories()
---

<AdminLayout title="Add new menu - Velvet Cup">
	<header class="bleed-section">
		<h1 class="text-lg">Tambahkan menu baru</h1>
	</header>

	<section class="app-section bleed-section">
		<MenuAdd categories={categories} client:load />
	</section>
</AdminLayout>
