---
import AdminLayout from "@/layouts/AdminLayout.astro"
import CategoryList from "@/components/CategoryList.vue"
import CategoryServiceImpl from "@/lib/services/category"

const categoryService = new CategoryServiceImpl()
const categories = await categoryService.getCategories()
---

<AdminLayout title="Manage categories">
	<section
		class="grid gap-4 items-start grid-flow-dense col-start-2 col-end-[-2] md:grid-cols-6 md:col-start-4 md:col-end-12"
	>
		<h1 class="text-xl col-span-full">Manage categories</h1>

		<CategoryList categories={categories} client:load />
	</section>
</AdminLayout>
