---
import AdminLayout from "@/layouts/AdminLayout.astro"
import MenuList from "@/components/MenuList.vue"
import KyselyMenuServiceFactory from "@/lib/factories/menu.factory"

const menuService = new KyselyMenuServiceFactory().createService()
const menus = await menuService.getMenus({ with: ["category"] })
---

<AdminLayout>
	<header class="bleed-section">
		<h1 class="text-4xl">Menus</h1>
		<p>Showing {menus.length} menu items.</p>
	</header>

	<section class="app-section bleed-section grid grid-cols-subgrid">
		<MenuList menu={menus} client:load />
	</section>
</AdminLayout>
