---
import AdminLayout from "@/layouts/AdminLayout.astro"
import MenuList from "@/components/MenuList.vue"
import type { MenuWithCategories } from "@/types"
import { db } from "@/database"
import { sql } from "kysely"

const menus = await db
	.selectFrom("menu as m")
	.leftJoin("menu_categories as c", "c.id", "m.category_id")
	.select([
		"m.id",
		"m.name",
		"m.image",
		"m.category_id",
		"m.created_at",
		"m.description",
	])
	.select(({ fn }) =>
		fn.coalesce("c.name", sql.lit("no category")).as("category")
	)
	.where("deleted_at", "is", null)
	.execute()
---

<AdminLayout>
	<header class="main-section">
		<h1 class="text-4xl">Menus</h1>
	</header>

	<section class="app-section main-section grid grid-cols-subgrid">
		<MenuList menu={menus as MenuWithCategories[]} client:load />
	</section>
</AdminLayout>
