---
import Layout from "@/layouts/Layout.astro"
import { Button } from "@/components/ui/button"
---

<Layout>
	<section class="main-section flex flex-col items-center">
		<h1 class="text-4xl">Oh no.. 🥲</h1>
		<p>We can't find whatever you're looking for.. Sorry!</p>

		<Button class="mt-4" as-child client:load>
			<a href="/">Kembali ke beranda</a>
		</Button>
	</section>
</Layout>
