---
import Layout from "@/layouts/Layout.astro"
import { Button } from "@/components/ui/button"
---

<Layout
	title="About - Velvet Cup"
	description="About Velvet Cup"
	bodyClass="gap-y-16"
>
	<section
		class="bleed-section app-section grid grid-cols-subgrid *:main-section"
	>
		<h1 class="text-6xl">Our vision</h1>

		<p class="my-4">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores vel
			vitae quam esse ex veritatis dolor quia optio perferendis laborum quas
			repudiandae eius consectetur rerum harum, officiis velit architecto ipsa!
		</p>
		<p class="my-4">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus
			deleniti, soluta ullam esse est repellat! Nam obcaecati ipsa expedita ex?
			Nobis perspiciatis quia provident quam ipsum eius voluptatem. Nobis, ut!
		</p>
	</section>

	<header class="main-section md:col-start-3 md:col-span-3">
		<h2 class="text-4xl">Our story</h2>
	</header>

	<section class="main-section md:col-span-7 mx-auto grid gap-4 content-start">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque facere
			labore obcaecati accusantium laboriosam est odio cumque corporis, deserunt
			veritatis libero cum ea molestiae doloremque repellat eum aspernatur quam
			sequi.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis soluta,
			aspernatur mollitia explicabo quia non! Similique quod obcaecati accusamus
			tenetur! Est suscipit, eius iusto ab similique doloribus totam expedita
			officiis hic adipisci aliquam, atque exercitationem sunt mollitia ipsam et
			rem voluptate. Eum ducimus incidunt modi aut quod, corrupti consequatur
			nostrum!
		</p>
	</section>

	<header class="main-section md:col-start-3 md:col-span-3">
		<h2 class="text-4xl">What we value</h2>
	</header>

	<section class="main-section md:col-span-7 mx-auto grid gap-4 content-start">
		<ul class="list-disc ml-4">
			<li>
				<span class="font-bold">Lorem, ipsum</span> dolor sit amet consectetur adipisicing
				elit. Sunt est a laborum ex accusamus. Ipsam molestiae quaerat totam rerum
				quo earum impedit, inventore quam ipsa deserunt assumenda perspiciatis, molestias
				repudiandae.
			</li>
			<li>
				<span class="font-bold">Lorem, ipsum</span> dolor sit amet consectetur adipisicing
				elit. Sunt est a laborum ex accusamus. Ipsam molestiae quaerat totam rerum
				quo earum impedit, inventore quam ipsa deserunt assumenda perspiciatis, molestias
				repudiandae.
			</li>
		</ul>

		<div class="flex gap-4">
			<Button size="lg">Join us</Button>
			<Button size="lg">Explore our menus</Button>
		</div>
	</section>
</Layout>
