---
import Layout from "@/layouts/Layout.astro"
import { Button } from "@/components/ui/button"
---

<Layout title="About - Velvet Cup" description="About Velvet Cup">
	<header class="main-section">
		<h1 class="text-4xl font-bold">About us</h1>
	</header>

	<section class="main-section *:max-w-prose mx-auto grid gap-4">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque facere
			labore obcaecati accusantium laboriosam est odio cumque corporis, deserunt
			veritatis libero cum ea molestiae doloremque repellat eum aspernatur quam
			sequi.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis soluta,
			aspernatur mollitia explicabo quia non! Similique quod obcaecati accusamus
			tenetur! Est suscipit, eius iusto ab similique doloribus totam expedita
			officiis hic adipisci aliquam, atque exercitationem sunt mollitia ipsam et
			rem voluptate. Eum ducimus incidunt modi aut quod, corrupti consequatur
			nostrum!
		</p>

		<div class="flex gap-4">
			<Button variant="outline">Join us</Button>
			<Button>Explore our menus</Button>
		</div>
	</section>
</Layout>
