---
import Layout from "@/layouts/Layout.astro"
import BasketList from "@/components/BasketList.vue"
import { Button } from "@/components/ui/button"

import { db } from "@/database/"
import { auth } from "@/lib/auth"

const MIDTRANS_CLIENT_KEY = import.meta.env.MIDTRANS_CLIENT_KEY

const session = await auth.api.getSession({
	headers: Astro.request.headers,
})

if (!session) {
	if (import.meta.env.DEV) console.error("no session")
	return Astro.redirect("/")
}

const basket = await db
	.selectFrom("baskets as b")
	.leftJoin("menu as m", "m.id", "b.menu_id")
	.leftJoin("menu_variants as mv", (join) =>
		join.onRef("mv.menu_id", "=", "m.id").onRef("mv.id", "=", "b.variant_id")
	)
	.select([
		"b.id",
		"m.name as menu_name",
		"m.image",
		"b.quantity",
		"mv.id as variant_id",
		"mv.name as variant_name",
		"mv.price",
	])
	.where("user_id", "=", session.user.id)
	.execute()
---

<Layout
	title="Basket - Velvet Cup"
	description={`You have ${basket.length} items in your basket.`}
>
	<header class="bleed-section self-start">
		<h1 class="text-4xl">Your basket</h1>
		{
			basket.length !== 0 && (
				<p>You have {basket.length} items in your basket.</p>
			)
		}
	</header>

	{
		basket.length === 0 ? (
			<section class="app-section bleed-section flex flex-col items-center">
				<p class="text-xl font-bold">Your basket is currently empty.</p>
				<p>Go check out our menus!</p>

				<Button class="outline" as-child client:load>
					<a href="/">Explore our menu</a>
				</Button>
			</section>
		) : (
			<BasketList basket={basket} client:load />
		)
	}

	<script
		is:inline
		src="https://app.sandbox.midtrans.com/snap/snap.js"
		data-client-key={MIDTRANS_CLIENT_KEY}></script>
</Layout>
