---
import Layout from "../layouts/Layout.astro"
import { db } from "@/database"

const menus = await db.selectFrom("menu").selectAll().execute()
---

<Layout title="Home - Velvet Cup">
	<header class="main-section">
		<h1 class="text-6xl">Hey there!</h1>
		<p>
			What are you craving? Mocha, cappuccino, latte? We've got you covered.
		</p>
	</header>

	<section class="main-section row-span-4">
		<ul>
			{
				menus.map((menu) => (
					<li>
						<a class="underline decoration-black" href={`/menu/${menu.id}`}>
							{menu.name}
						</a>
						-<span>{menu.description}</span>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
