---
import Layout from "../layouts/Layout.astro"
import { db } from "@/database"

const menus = await db.selectFrom("menu").selectAll().execute()
---

<Layout>
	<h1>Hi</h1>
	<p>Products</p>

	{menus}

	<ul>
		<li>
			<a href="#"> coffee 1 </a>
		</li>
		<li>
			<a href="#"> coffee 2 </a>
		</li>
		<li>
			<a href="#"> coffee 3 </a>
		</li><li>
			<a href="#"> coffee 4 </a>
		</li><li>
			<a href="#"> coffee 5 </a>
		</li>
	</ul>
</Layout>
