---
export const prerender = true

import Layout from "@/layouts/Layout.astro"
import SigninForm from "@/components/auth/SigninForm.vue"
import SignUpForm from "@/components/auth/SignUpForm.vue"
---

<Layout title="login" bodyClass="content-start gap-y-4">
	<nav class="main-section flex justify-center select-none">
		<label for="sign-up-input" class="hover:cursor-pointer">
			<input type="radio" name="auth" id="sign-up-input" class="peer hidden" />
			<span
				class="block p-4 outline outline-1 outline-primary peer-checked:bg-primary peer-checked:text-white transition-colors rounded-l-lg"
			>
				Sign up
			</span>
		</label>

		<label for="login-input" class="hover:cursor-pointer">
			<input
				type="radio"
				name="auth"
				id="login-input"
				class="peer hidden"
				checked
			/>
			<span
				class="block p-4 outline outline-1 outline-primary peer-checked:bg-primary peer-checked:text-white transition-colors rounded-r-lg"
			>
				Log in
			</span>
		</label>
	</nav>

	<div
		class="full-bleed-section grid gap-8 grid-cols-subgrid py-8 min-h-[50vh]"
		id="sign-up"
	>
		<header class="main-section md:col-start-3 md:col-span-3 md:self-center">
			<h1 class="text-4xl font-bold">Sign up</h1>
			<p>And be part of the Velvet Cup family!</p>
		</header>

		<div class="hidden md:block sep"></div>

		<section class="main-section md:col-start-7 md:col-end-[-3] md:self-center">
			<SignUpForm client:visible />
		</section>
	</div>

	<div
		class="full-bleed-section grid gap-8 grid-cols-subgrid py-8 min-h-[50vh]"
		id="login"
	>
		<header class="main-section md:col-start-3 md:col-span-3 md:self-center">
			<h1 class="text-4xl font-bold">Log in</h1>
			<p>Log in into your account.</p>
		</header>

		<div class="hidden md:block sep"></div>

		<section class="main-section md:col-start-7 md:col-end-[-3] md:self-center">
			<SigninForm client:load />
		</section>
	</div>
</Layout>

<style>
	.sep {
		width: 0.2rem;
		height: 20vh;
		place-self: center;
		@apply bg-gray-200/50 rounded-full;
	}

	#login,
	#sign-up {
		display: none;
	}

	body:has(#login-input:checked) #login,
	body:has(#sign-up-input:checked) #sign-up {
		display: grid;
	}
</style>
