<nav class="main-section bg-white border border-black my-4">
	<ul class="flex gap-4">
		<li><a class="block p-4" href="/">home</a></li>
		<li><a class="block p-4" href="/admin/">dashboard</a></li>
		<li class="relative">
			<a class="peer block p-4" href="/admin/menu">menu</a>

			<ul
				class="absolute top-full hidden peer-hover:flex left-0 hover:flex flex-col border border-black border-t-0 bg-white"
			>
				<li>
					<a class="block p-4 hover:bg-gray-200" href="/admin/menu/categories"
						>Categories</a
					>
				</li>
				<li>
					<a class="block p-4 hover:bg-gray-200" href="/admin/menu/add">Add</a>
				</li>
			</ul>
		</li>
		<li><a class="block p-4" href="/admin/orders">orders</a></li>
		<li><a class="block p-4" href="/admin/menu-variants">menu variants</a></li>
	</ul>
</nav>
