<footer
	class="full-bleed-section bg-secondary-500 p-8 rounded-lg m-8 flex justify-between text-white self-end"
>
	<p>©2025 Velvet Cup. All rights reserved.</p>
	<ul class="flex gap-4">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/sitemap.xml">Site map</a>
		</li>
	</ul>
</footer>
