---
import { authClient } from "@/lib/auth-client"

interface Props {
	session: typeof authClient.$Infer.Session
}

const { session } = Astro.props
---

<nav
	class="bleed-section flex justify-between bg-white rounded-full border border-black my-4 px-4 overflow-hidden"
>
	<span class="block p-4">Logo here</span>
	<ul class="flex gap-4">
		<li><a href="/admin">Admin</a></li>
		<li><a href="/">Home</a></li>
		<li><a href="/about">The Cafe</a></li>
		<li><a href="/login">Cart</a></li>
		{
			session ? (
				<li>
					<a href="/account">Account</a>
				</li>
			) : (
				<li>
					<a href="/login">Login</a>
				</li>
			)
		}
	</ul>
</nav>

<style>
	ul a {
		@apply block p-4 hover:bg-slate-200;
	}
</style>
