<nav
	class="main-section flex justify-between bg-white rounded-full border border-black my-4 px-4 overflow-hidden"
>
	<span class="block p-4">Logo here</span>
	<ul class="flex gap-4">
		<li><a href="#">Admin</a></li>
		<li><a href="#">Home</a></li>
		<li><a href="#">The Cafe</a></li>
		<li><a href="/login">Login</a></li>
	</ul>
</nav>

<style>
	ul a {
		@apply block p-4 hover:bg-slate-200;
	}
</style>
