---
import { authClient } from "@/lib/auth-client"
import { Image } from "astro:assets"
import { Menu, X } from "lucide-vue-next"
import BasketServiceImpl from "@/lib/services/basket"

interface Props {
	session: typeof authClient.$Infer.Session | null
}

const { session } = Astro.props

const isAdmin = session?.user.role === "admin"

let basketCount = { value: 0 }
const basketService = new BasketServiceImpl()

if (session) {
	basketCount = await basketService.getBasketCount(session.user.id)
}
---

<nav
	class="bleed-section flex justify-between bg-white rounded-lg border border-primary-700 my-4 py-0 relative z-10 text-primary-900"
>
	<a href="/" class="flex gap-4 p-4">
		<Image src="/velvet-cup.svg" alt="velvet cup logo" width={20} height={20} />
		<div class="font-serif">Velvet Cup</div>
	</a>
	<label
		for="burger"
		class="block p-4 cursor-pointer md:hidden
    hover:bg-slate-100"
	>
		<Menu />
	</label>

	<input type="checkbox" name="burger" id="burger" class="peer hidden" />
	<ul
		class="border border-black md:border-none rounded-lg shadow-lg md:shadow-none px-4 md:p-0 bg-inherit hidden peer-checked:flex absolute top-0 left-0 right-0 gap-4 flex-col md:flex md:flex-row md:relative"
	>
		<label
			for="burger"
			class="block p-4 cursor-pointer md:hidden self-end hover:bg-slate-100"
		>
			<X />
		</label>

		<li><a href="/">Home</a></li>
		<li><a href="/menu">Menu</a></li>
		{
			isAdmin && (
				<li>
					<a href="/admin/">Admin</a>
				</li>
			)
		}
		<li><a href="/about/">The Cafe</a></li>
		{
			session ? (
				<>
					<li class="relative flex justify-between items-center">
						<a href="/basket/">Your basket</a>
						{basketCount && (
							<span class="basket-chip block md:absolute md:top-full md:right-0 md:transform md:-translate-y-1/2 px-2 leading-[1.6] bg-red-500 rounded-full text-sm text-white">
								{basketCount.value}
							</span>
						)}
					</li>
					<li>
						<a href="/account/">Account</a>
					</li>
				</>
			) : (
				<li>
					<a href="/login/">Login</a>
				</li>
			)
		}
	</ul>
</nav>

<style>
	@reference "@/styles/globals.css";

	ul a {
		@apply block p-4 hover:bg-slate-200;
		transition: background-color 100ms ease;
	}

	@keyframes scale-in {
		0% {
			scale: 0;
		}

		100% {
			scale: 1;
		}
	}

	.basket-chip {
		transform-origin: top;
		animation: scale-in 500ms ease;
	}
</style>
