---
import { db } from "@/database"
import { authClient } from "@/lib/auth-client"
import { sql } from "kysely"
import { Menu, X } from "lucide-vue-next"

interface Props {
	session: typeof authClient.$Infer.Session | null
}

const { session } = Astro.props

const isAdmin = session?.user.role === "admin"

let basketCount = { value: 0 }

if (session) {
	const result = await db
		.selectFrom("baskets")
		.select((eb) => [
			eb.fn.coalesce(eb.fn.sum<number>("quantity"), sql`0`).as("value"),
		])
		.where("user_id", "=", session.user.id)
		.executeTakeFirst()

	basketCount = result ?? basketCount
}
---

<nav
	class="bleed-section flex justify-between bg-white rounded-lg border border-black my-4 py-0 relative z-10"
>
	<span class="block p-4">Logo here</span>
	<label
		for="burger"
		class="block p-4 cursor-pointer md:hidden
    hover:bg-slate-100"
	>
		<Menu />
	</label>

	<input type="checkbox" name="burger" id="burger" class="peer hidden" />
	<ul
		class="border border-black md:border-none rounded-lg shadow-lg md:shadow-none px-4 md:p-0 bg-inherit hidden peer-checked:flex absolute top-0 left-0 right-0 gap-4 flex-col md:flex md:flex-row md:relative"
	>
		<label
			for="burger"
			class="block p-4 cursor-pointer md:hidden self-end hover:bg-slate-100"
		>
			<X />
		</label>

		<li><a href="/">Home</a></li>
		{
			isAdmin && (
				<li>
					<a href="/admin/">Admin</a>
				</li>
			)
		}
		<li><a href="/about/">The Cafe</a></li>
		{
			session ? (
				<>
					<li class="relative">
						<a href="/basket/">Your basket</a>
						{basketCount && (
							<span class="block absolute top-full transform -translate-y-1/2 right-0 px-2 leading-[1.6] bg-red-500 rounded-full text-sm text-white">
								{basketCount.value}
							</span>
						)}
					</li>
					<li>
						<a href="/account/">Account</a>
					</li>
				</>
			) : (
				<li>
					<a href="/login/">Login</a>
				</li>
			)
		}
	</ul>
</nav>

<style>
	ul a {
		@apply block p-4 hover:bg-slate-200;
		transition: background-color 100ms ease;
	}
</style>
