---
import AccountLayout from "@/layouts/AccountLayout.astro"
import SignOutConfirm from "@/components/auth/SignOutConfirm.vue"

const session = Astro.locals.session
---

<AccountLayout heading="Your account" title="Your account - Velvet Cup">
	<section class="app-section col-span-10">
		<p>{session?.user.name}</p>
		<p>{session?.user.email}</p>
	</section>

	<section class="app-section col-span-10">
		<h2 class="text-xl mb-4">Sign out</h2>

		<SignOutConfirm client:load />
	</section>
</AccountLayout>
