---
import AccountLayout from "@/layouts/AccountLayout.astro"
import OrderItem from "@/components/order/OrderItem.astro"

import { ordersQuery } from "@/database/queries"
import { auth } from "@/lib/auth"

const session = await auth.api.getSession({
	headers: Astro.request.headers,
})

if (!session) {
	return Astro.redirect("/")
}

const orders = await ordersQuery
	.where("user_id", "=", session.user.id)
	.orderBy("orders.created_at desc")
	.execute()
---

<AccountLayout heading="Your orders">
	<section class="app-section col-span-10">
		<ul class="grid gap-4">
			{orders.map((order) => <OrderItem {order} />)}
		</ul>
	</section>
</AccountLayout>
