---
import Layout from "@/layouts/Layout.astro"
import OrderItem from "@/components/order/OrderItem.astro"

import { ordersQuery } from "@/database/queries"
import { auth } from "@/lib/auth"

const session = await auth.api.getSession({
	headers: Astro.request.headers,
})

if (!session) {
	return Astro.redirect("/")
}

const orders = await ordersQuery
	.where("user_id", "=", session.user.id)
	.orderBy("orders.created_at desc")
	.execute()
---

<Layout>
	<header class="bleed-section">
		<h1 class="text-4xl">Your orders</h1>
	</header>

	<section class="main-section">
		<ul class="grid gap-4">
			{orders.map((order) => <OrderItem {order} />)}
		</ul>
	</section>
</Layout>
