---
import AccountLayout from "@/layouts/AccountLayout.astro"
import OrderItem from "@/components/order/OrderItem.astro"

import { OrderServiceImpl } from "@/lib/services/order"

const session = Astro.locals.session

if (!session) {
	return Astro.redirect("/")
}

const orderService = new OrderServiceImpl()
const orders = await orderService.getOrders(session.user.id)
---

<AccountLayout heading="Your orders">
	<section class="app-section col-span-10">
		<ul class="grid gap-8">
			{orders.map((order) => <OrderItem {order} />)}
		</ul>
	</section>
</AccountLayout>
