---
import "@fontsource-variable/inter"
import "@fontsource/merriweather"
import "@/styles/globals.css"

interface Props {
	title?: string
	description?: string
}

const { title = "Velvet Cup", description = "Velvet Cup" } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>

	<body class="bg-background font-sans">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	body {
		display: grid;
		grid-template-rows: max-content auto;
		align-content: start;
		align-items: start;

		--col-width: 20ch;
		grid-template-columns:
			[full-bleed-start]
			minmax(1rem, 1fr)
			[main-content-start]
			repeat(6, minmax(0, var(--col-width)))
			[main-content-end]
			minmax(1rem, 1fr)
			[full-bleed-end];
		grid-auto-rows: auto;

		@media screen and (min-width: 768px) {
			--col-width: 7rem;
			grid-template-columns:
				[full-bleed-start]
				minmax(0, 1fr)
				[bleed-start]
				repeat(2, minmax(0, var(--col-width)))
				[main-content-start]
				repeat(8, minmax(0, var(--col-width)))
				[main-content-end]
				repeat(2, minmax(0, var(--col-width)))
				[bleed-end]
				minmax(0, 1fr)
				[full-bleed-end];
			gap: 2rem;
		}
	}
</style>
