---
import "@fontsource-variable/inter"
import "@fontsource/merriweather"
import "@/styles/globals.css"

import { auth } from "@/lib/auth"
import Navbar from "@/components/Navbar.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"

interface Props {
	title?: string
	description?: string
	bodyClass?: string | string[]
}

const session = await auth.api.getSession({
	headers: Astro.request.headers,
})
---

<BaseLayout {...Astro.props}>
	<Navbar {session} />

	<div class="overlay z-0"></div>
	<slot />
</BaseLayout>

<style>
	.overlay {
		position: absolute;
		inset: 0;
		background: #0000;
		visibility: hidden;
		transition:
			background-color 200ms ease,
			visibility 200ms ease;
	}

	body:has(#burger:checked) .overlay {
		background: #0004;
		visibility: visible;
	}
</style>
