---
import "@fontsource-variable/inter"
import "@fontsource/merriweather"
import "@/styles/globals.css"

import BaseLayout from "@/layouts/BaseLayout.astro"
import Navbar from "@/components/Navbar.astro"
import Footer from "@/components/Footer.astro"

interface Props {
	title?: string
	description?: string
	bodyClass?: string | string[]
}

const session = Astro.locals.session
---

<BaseLayout {...Astro.props}>
	<Navbar {session} />

	<div class="overlay z-0"></div>
	<slot />
	<Footer />
</BaseLayout>

<style>
	.overlay {
		position: absolute;
		inset: 0;
		background: #0000;
		visibility: hidden;
		transition:
			background-color 200ms ease,
			visibility 200ms ease;
	}

	@media screen and (max-width: 768px) {
		body:has(#burger:checked) .overlay {
			background: #0004;
			visibility: visible;
		}
	}
</style>
