---
import AdminLayout from "@/layouts/AdminLayout.astro"
import { formatDate } from "@/utils"
import { db } from "@/database"

const users = await db.selectFrom("user").selectAll().execute()
---

<AdminLayout title="Customers - Velvet Cup">
	<header class="main-section">
		<h1 class="text-4xl">Customers</h1>
	</header>

	<section class="app-section main-section">
		<ul>
			{
				users.map((user) => (
					<li class="flex gap-4">
						<span>{user.name}</span>
						<span>{user.email}</span>
						<span class="ml-auto">{formatDate(user.createdAt)}</span>
					</li>
				))
			}
		</ul>
	</section>
</AdminLayout>
