---
import Layout from "@/layouts/Layout.astro"
import { db } from "@/database"

const users = await db.selectFrom("user").selectAll().execute()
---

<Layout title="Customers - Velvet Cup" bodyClass="content-start">
	<header class="main-section">
		<h1 class="text-4xl">Customers</h1>
	</header>

	<section class="main-section">
		<ul>
			{
				users.map((user) => (
					<li class="flex gap-4">
						<span>{user.name}</span>
						<span>{user.email}</span>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
