---
import AdminLayout from "@/layouts/AdminLayout.astro"
import { formatDate } from "@/lib/utils"
import { db } from "@/database"
import {
	Table,
	TableHeader,
	TableBody,
	TableRow,
	TableCell,
} from "@/components/ui/table"

const users = await db.selectFrom("user").selectAll().execute()
---

<AdminLayout title="Customers - Velvet Cup">
	<header class="main-section">
		<h1 class="text-4xl">Customers</h1>
	</header>

	<section class="app-section main-section">
		<Table>
			<TableHeader>
				<TableRow>
					<TableCell> Nama </TableCell>
					<TableCell> Email </TableCell>
					<TableCell> Bergabung pada </TableCell>
				</TableRow>
			</TableHeader>

			<TableBody>
				{
					users.map((user) => (
						<TableRow>
							<TableCell>
								<span>{user.name}</span>
							</TableCell>

							<TableCell>
								<span>{user.email}</span>
							</TableCell>

							<TableCell>
								<span class="ml-auto">{formatDate(user.createdAt)}</span>
							</TableCell>
						</TableRow>
					))
				}
			</TableBody>
		</Table>
	</section>
</AdminLayout>
