---
import Layout from "@/layouts/Layout.astro"
import MenuList from "@/components/MenuList.vue"
import { db } from "@/database"

const menus = await db.selectFrom("menu").selectAll().execute()
---

<Layout>
	<h1>Menus</h1>
	<MenuList menu={menus} client:load />
</Layout>
