---
import AdminLayout from "@/layouts/AdminLayout.astro"
import AdminServiceFactory from "@/lib/factories/admin.factory"
import { Utensils, Tag, UserRound } from "lucide-vue-next"
import AdminKPI from "@/components/admin/AdminKPI.astro"
import Chart from "@/components/admin/OrderChart.vue"

const adminService = new AdminServiceFactory().getService()
const metrics = await adminService.getDashboardMetrics()
---

<AdminLayout title="Dashboard - Velvet Cup">
	<header class="main-section">
		<h1 class="text-4xl">Admin Dashboard</h1>
	</header>

	<section class="main-section">
		<h2 class="sr-only">metrics</h2>
		<ul class="flex gap-4 justify-center">
			<AdminKPI count={metrics.kpi.menu_count} label="Menu" link="/admin/menu">
				<Utensils slot="icon" height="50" />
			</AdminKPI>

			<AdminKPI
				count={metrics.kpi.order_count}
				label="Orders"
				link="/admin/orders"
			>
				<Tag slot="icon" height="50" />
			</AdminKPI>

			<AdminKPI
				count={metrics.kpi.customer_count}
				label="Customers"
				link="/admin/customers"
			>
				<UserRound slot="icon" height="50" />
			</AdminKPI>
		</ul>
	</section>

	<section class="main-section">
		<h2 class="sr-only">Chart</h2>

		<Chart client:load data={metrics.chart.order_stats} />
	</section>
</AdminLayout>
