---
import AdminLayout from "@/layouts/AdminLayout.astro"
---

<AdminLayout title="Dashboard - Velvet Cup">
	<header class="main-section">
		<h1 class="text-4xl">Admin Dashboard</h1>
	</header>

	<section class="main-section">
		<p>Not implemented</p>
	</section>
</AdminLayout>
