---
import AdminLayout from "@/layouts/AdminLayout.astro"
import MenuList from "@/components/MenuList.vue"
import { db } from "@/database"

const menus = await db.selectFrom("menu").selectAll().execute()
---

<AdminLayout>
	<header class="main-section">
		<h1 class="text-4xl">Menus</h1>
	</header>

	<section class="main-section grid grid-cols-subgrid">
		<MenuList menu={menus} client:load />
	</section>
</AdminLayout>
