---
import Layout from "@/layouts/Layout.astro"
import MenuList from "@/components/MenuList.vue"
import { db } from "@/database"

const menus = await db.selectFrom("menu").selectAll().execute()
---

<Layout>
	<header class="main-section">
		<h1>Menus</h1>
	</header>

	<section class="main-section grid grid-cols-subgrid">
		<MenuList menu={menus} client:load />
	</section>
</Layout>
