---
import AdminLayout from "@/layouts/AdminLayout.astro"
import OrdersTable from "@/components/admin/orders/OrdersTable.vue"
import OrderServiceImpl from "@/lib/services/order"

const orderService = new OrderServiceImpl()
const orders = await orderService.getAdminOrders()
const orderStatuses = await orderService.getAllOrderStatus()
---

<AdminLayout title="Orders - Velvet Cup">
	<headers class="main-section">
		<h1 class="text-4xl">Orders</h1>
		<p>Showing {orders.length} orders.</p>
	</headers>

	<section class="main-section app-section">
		<OrdersTable orders={orders} orderStatuses={orderStatuses} client:load />
	</section>
</AdminLayout>
